.default {
  padding: 50px 0;

  .section-info {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
  }
  .section-title {
    @extend .section-info;
    font-size: 20px;
  }
  .section-desc {
    @extend .section-info;
    margin-top: 8px;
    margin-bottom: 40px;
    font-size: 12px;
    color: #666;
  }
  .section-body {
    @include wrapper;
  }
}
.default.light {
  background-color: #f7f7f7;
  .section-title,
  .section-body {
    color: #000;
  }
}
.default.dark {
  background-color: #000;
  .section-title,
  .section-body {
    color: #fff;
  }
}
