@import './variables';

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  transition: all 0.3s;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}
body {
  font-family: $primary-font;
  overflow-x: hidden;
}

// || With Class

.title {
  color: $primary-color;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  &::first-line {
    color: #fff;
  }
}

.button {
  @extend .title;
  color: #fff;
  display: inline-block;
  margin-top: 20px;
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: $primary-color;
  &:hover {
    filter: brightness(0.9);
    cursor: pointer;
  }
}

.slider-pointers {
  position: absolute;
  width: 100vw;
  height: 20px;
  margin-top: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  .pointer {
    cursor: pointer;
    width: 15px;
    height: 15px;
    border: 2px solid $primary-color;
    border-radius: 50%;
  }
  .pointer.active {
    background-color: $primary-color;
  }
}

// || Mixin Styles

@mixin wrapper() {
  max-width: 1140px;
  margin: auto;
}
