* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  font-family: $primary-font;
  overflow-x: hidden;
}

// || Mixin Styles

@mixin wrapper() {
  max-width: 1140px;
  margin: auto;
}
