@import './variables';

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  font-family: $primary-font;
  overflow-x: hidden;
}

.title {
  color: $primary-color;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  &::first-line {
    color: #fff;
  }
}

.button {
  @extend .title;
  color: #fff;
  display: inline-block;
  margin-top: 20px;
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: $primary-color;
  &:hover {
    filter: brightness(0.9);
    cursor: pointer;
  }
}

// || Mixin Styles

@mixin wrapper() {
  max-width: 1140px;
  margin: auto;
}
